.atenciones__tabla {
  max-width: 95%;
  margin: 40px auto;
  margin-top: 100px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.atenciones__titulo {
  text-align: center;
  font-size: 28px;
  color: #013857;
  margin-bottom: 25px;
  font-weight: 600;
}

.tabla__atenciones {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  font-size: 16px;
}

.tabla__atenciones thead {
  background-color: #013857;
  color: white;
}

.tabla__atenciones--cabecera {
  padding: 15px;
  text-align: left;
  font-weight: 500;
}

.tabla__atenciones tbody tr {
  background-color: #f9fcff;
  transition: background-color 0.3s;
}

.tabla__atenciones tbody tr:hover {
  background-color: #e1f0ff;
}

.tabla__atenciones--celda-1,
.tabla__atenciones--celda-2,
.tabla__atenciones--celda-3,
.tabla__atenciones--celda-4,
.diagnostico {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.diagnostico {
  font-style: italic;
  color: #555;
}

.contenedor-boton {
  text-align: center;
  margin-top: 30px;
}

.contenedor__boton--boton {
  background-color: #013857;
  color: white;
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.contenedor__boton--boton:hover {
  background-color: #045e9c;
}
