{% extends 'componentes/Base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/usuario/actualizar.css' %}">

<h2 class="titulo-actualizar">Actualiza tus datos</h2>

<div class="formulario-contenedor">
  <form method="POST" class="formulario-actualizar">
    {% csrf_token %}

    <!-- Campos NO editables -->
    <p>
      <label>Nombre de usuario</label>
      <input type="text" value="{{ usuario.username }}" readonly>
    </p>

    <p>
      <label>Nombre</label>
      <input type="text" value="{{ usuario.first_name }}" readonly>
    </p>

    <p>
      <label>Apellido</label>
      <input type="text" value="{{ usuario.last_name }}" readonly>
    </p>

    <p>
      <label>Tipo de Documento</label>
      <input type="text" value="{{ usuario.get_tipo_doc_display }}" readonly>
    </p>

    <p>
      <label>Número de Documento</label>
      <input type="text" value="{{ usuario.num_doc }}" readonly>
    </p>

    <p>
      <label>Género</label>
      <input type="text" value="{{ usuario.get_genero_display }}" readonly>
    </p>

    <p>
      <label>RH</label>
      <input type="text" value="{{ usuario.rh }}" readonly>
    </p>

    <p>
      <label>Fecha de Nacimiento</label>
      <input type="text" value="{{ usuario.fecha_nacimiento }}" readonly>
    </p>

    <p>
      <label>Ocupación</label>
      <input type="text" value="{{ usuario.ocupacion }}" readonly>
    </p>

    <p>
      <label>EPS</label>
      <input type="text" value="{{ usuario.eps }}" readonly>
    </p>
    <p>
      <label>Regimen</label>
      <input type="text" value="{{ usuario.regimen }}" readonly>
    </p>

    <!-- Campos EDITABLES -->
    <p>
      {{ formulario.email.label_tag }}
      {{ formulario.email }}
    </p>

    <p>
      {{ formulario.telefono.label_tag }}
      {{ formulario.telefono }}
    </p>

    <p>
      {{ formulario.tipo_poblacion.label_tag }}
      {{ formulario.tipo_poblacion }}
    </p>

    <!-- Botón de envío -->
    <button type="submit" class="btn-guardar">Actualizar mis datos</button>
  </form>
</div>
{% endblock %}
