{% extends 'base.html' %}

{% load static %}

{% block title %}
    Registro de Paciente
{% endblock %}

{% block content %}
  <h2>Registrar Paciente</h2>
  
  <!-- Mostrar los mensajes de error o éxito -->
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <p class="message">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <!-- Formulario de Registro -->
  <form method="POST">
    {% csrf_token %}
    <!-- Renderiza el formulario de paciente -->
    {{ formulario.as_p }}
    
    <!-- Botón para enviar el formulario -->
    <button type="submit">Registrar</button>
  </form>
{% endblock %}
