{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - Izel</title>
    <link rel="stylesheet" href="{% static 'css/usuario/login.css' %}">
</head>
<body>

    <header class="Titulo">
        <h1><a href="{% url 'home' %}">IZEL</a></h1>
    </header>

    <div class="Ingresar">
        <div class="Ingresar__formulario">
            <h2 class="Ingresar__titulo">Iniciar Sesión</h2>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="Ingresar__campo">
                    <input type="text" id="username" name="username" required class="Ingresar__campo-input" placeholder="Ingrese su usuario" />
                    <label for="username" class="Ingresar__campo-label">Usuario</label>
                </div>

                <div class="Ingresar__campo">
                    <input type="password" id="password" name="password" required class="Ingresar__campo-input" placeholder="Ingrese su contraseña" />
                    <label for="password" class="Ingresar__campo-label">Contraseña</label>
                </div>

                <div>
                    <button type="submit" class="Ingresar__submit">Iniciar sesión</button>
                </div>
            </form>
            <p>¿No tienes cuenta?</p>
            <ul>
                <li><a href="{% url 'registrar_usuario' %}" class="Ingresar__registro-enlace">Crear Cuenta</a></li>
                <li><a href="#" class="Ingresar__olvido-enlace">¿Olvidaste tu contraseña?</a></li>
            </ul>
        </div>
    </div>

</body>
</html>
