<div class="historial-container">
  <h2 class="titulo-seccion">Historial de Vacunas</h2>

  {% if vacunas %}
    <div class="tarjetas-contenedor">
      {% for vacuna in vacunas %}
        <div class="tarjeta">
          <h3>Nombre de la vacuna: {{ vacuna.nombre_vacuna }}</h3>
          <p><strong>Fecha de aplicación:</strong> {{ vacuna.fecha_aplicacion }}</p>
          <p><strong>Dosis:</strong> {{ vacuna.dosis }}</p>

        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="mensaje-vacio">No se encontraron vacunas registradas.</p>
  {% endif %}
</div>
