{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/historial_clinico.css' %}">

<div class="historial-container">
  <h2 class="titulo-seccion">Historial de Citas Médicas</h2>

  {% if citas %}
    <div class="tarjetas-contenedor">
      {% for cita in citas %}
        <div class="tarjeta">
          <h3>Cita con {{ cita.medico }}</h3>
          <p><strong>Especialidad:</strong> {{ cita.especialidad }}</p>
          <p><strong>Fecha:</strong> {{ cita.fecha_consulta }}</p>
          <p><strong>Motivo:</strong> {{ cita.motivo_consulta }}</p>
          <p><strong>Diagnostico Principal:</strong> {{ cita.diagnostico_principal }}</p>
          <p><strong>Tratamiento:</strong> {{ cita.tratamiento }}</p>

        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="mensaje-vacio">No hay citas médicas registradas.</p>
  {% endif %}
</div>
{% endblock %}
