{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/historial_clinico.css' %}">

<div class="historial-container">
  <h2 class="titulo-seccion">Antecedentes Médicos</h2>

  {% if antecedentes %}
    <div class="tarjetas-contenedor">
      {% for antecedente in antecedentes %}
        <div class="tarjeta">
          <h3>{{ antecedente.tipo_antecedente }}</h3>
          <p><strong>Descripción:</strong> {{ antecedente.descripcion }}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="mensaje-vacio">No se encontraron antecedentes médicos registrados.</p>
  {% endif %}
</div>
{% endblock %}
