{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/historial_clinico.css' %}">

<div class="historial-container">
  <h2 class="titulo-seccion">Historial Quirúrgico</h2>

  {% if datos_quirurgicos %}
    <div class="tarjetas-contenedor">
      {% for dato in datos_quirurgicos %}
        <div class="tarjeta">
          <h3>{{ dato.tipo_cirugia }}</h3>
          <p><strong>Fecha:</strong> {{ dato.fecha_cirugia }}</p>
          <p><strong>Complicaciones:</strong> {{ dato.complicaciones }}</p>

        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="mensaje-vacio">No se encontraron datos quirúrgicos registrados.</p>
  {% endif %}
</div>
{% endblock %}
