{% extends 'componentes/Base.html' %}
{% load static %}

{% block title %}Iniciar sesión - Izel{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="Ingresar">
    <div class="Ingresar__formulario">
        <h2 class="Ingresar__titulo">Iniciar Sesión</h2>

        {% if mensaje_error %}
            <div class="error">{{ mensaje_error }}</div>
        {% endif %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="Ingresar__campo">
                <input type="text" id="username" name="username"
                    class="Ingresar__campo-input"
                    placeholder=" " required />
                <label for="username" class="Ingresar__campo-label">Ingrese su usuario</label>
            </div>

            <div class="Ingresar__campo">
                <input type="password" id="password" name="password"
                    class="Ingresar__campo-input"
                    placeholder=" " required />
                <label for="password" class="Ingresar__campo-label">Ingrese su contraseña</label>
            </div>

            <div>
                <button type="submit" class="Ingresar__submit">Iniciar sesión</button>
            </div>

            <div class="Ingresar__opciones">
            <a href="{% url 'registrar_paciente' %}" class="Ingresar__registro-enlace">¿No tienes cuenta? Regístrate</a>
            <a href="{% url 'recuperar_contrasena' %}" class="Ingresar__olvido-enlace">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
