{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/usuario/insertar.css' %}">
  
<h2>Crear Empleado</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Seleccionar un tipo de empleado -->
    <label for="tipo_empleado">Selecciona un Tipo de Empleado:</label>
    <select name="tipo_empleado" id="tipo_empleado">
        <option value="empleado">Empleado</option>
        <option value="administrador">Administrador</option>
        <option value="it">IT</option>
        <option value="medico">Médico</option>
    </select>

    <!-- Aquí se renderiza el formulario de acuerdo con el tipo de empleado -->
    <div id="formulario_tipo_empleado">
        <!-- Los formularios estarán ocultos hasta que el tipo de empleado sea seleccionado -->
        <div id="empleado_form" style="display: none;">
            {{ formulario_empleado.as_p }}
        </div>
        <div id="administrador_form" style="display: none;">
            {{ formulario_administrador.as_p }}
        </div>
        <div id="it_form" style="display: none;">
            {{ formulario_it.as_p }}
        </div>
        <div id="medico_form" style="display: none;">
            {{ formulario_medico.as_p }}
        </div>
    </div>

    <button type="submit">Crear Empleado</button>
</form>

<p><a href="{% url 'listar_empleado' %}">Volver a la lista de empleados</a></p>

<!-- Cargar el archivo JS -->
<script src="{% static 'js/mi_script.js' %}"></script>
{% endblock %}
