*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

.content-modal h2{
    margin-bottom: 15px;
}

.content-modal img {
    display: block;
    margin-bottom: 15px;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar button{
    padding: 7px 10px;
    background-color: #013857;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar button:hover{
    background-color: #003452;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}
