{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Detalles del Administrador</h2>
<table>
    <td>
        {% if usuario.imagen %}
            <img src="{{ usuario.imagen.url }}" alt="Imagen {{ usuario.first_name }}" width="100">
        {% else %}
            <img src="{% static 'img/user_default.png' %}" alt="Imagen de usuario" width="100">
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ formulario.as_p }}
          <button type="submit">Guardar imagen</button>
        </form>
        <br>
    </td>
    <tr><th>Nombre de usuario:</th><td>{{ usuario.username }}</td></tr>
    <tr><th>Nombre:</th><td>{{ usuario.first_name }}</td></tr>
    <tr><th>Apellido:</th><td>{{ usuario.last_name }}</td></tr>
    <tr><th>Tipo de Documento:</th><td>{{ usuario.tipo_doc }}</td></tr>
    <tr><th>Número de Documento:</th><td>{{ usuario.num_doc }}</td></tr>
    <tr><th>Correo:</th><td>{{ usuario.email }}</td></tr>
    <tr><th>Género:</th><td>{{ usuario.genero }}</td></tr>
    <tr><th>RH:</th><td>{{ usuario.rh }}</td></tr>
    <tr><th>Teléfono:</th><td>{{ usuario.telefono }}</td></tr>
    <tr><th>Fecha de Nacimiento:</th><td>{{ usuario.fecha_nacimiento }}</td></tr>
    <tr><th>Tipo de Población:</th><td>{{ usuario.tipo_poblacion }}</td></tr>
    <tr><th>Ocupación:</th><td>{{ usuario.ocupacion }}</td></tr>
    <tr><th>EPS:</th><td>{{ usuario.eps }}</td></tr>
</table>
<br>

{% endblock %}
