{% extends 'base.html' %}
{% load static %}
    Agenda
{% block title %}
    Agenda
{% endblock %}

{% block content %}
<div>
    <h2>AGENDA DEL DÍA {{ fecha_actual|upper }}</h2>
    <div>
        <table>            
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Paciente</th>
                    <th>Motivo De Consulta</th>
                    <th>Asistencia</th>
                    <th>Iniciar Consulta</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>06:30</td>  
                    <td>{{ paciente.username }} Paciente</td>  <!-- Mostrar el nombre del paciente -->
                    <td>Consulta General</td>  
                    <td><input type="checkbox"></td>
                    <td><a href="{% url 'consulta_medica' 1 %}">Empezar</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay pacientes en la agenda.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
