{% extends 'base.html' %}
{% load static %}
    Agenda
{% block title %}
    Agenda
{% endblock %}

{% block content %}
<div>
    <h2>AGENDA DEL DÍA {{ fecha_actual|upper }}</h2>
    <div>
        <table>            
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Paciente</th>
                    <th>Motivo De Consulta</th>
                    <th>Asistencia</th>
                    <th>Iniciar Consulta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>06:30</td>
                    <td>Harold Steven</td>
                    <td>Consulta General</td>
                    <td><input type="checkbox"></td>
                    <td><a href="{% url 'registrar_consulta' %}">Empezar</a></td>
                </tr>
                <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>
{% endblock %}
