{% extends 'base.html' %}

{% load static %}

{% block title %}
    Certificado de Incapacidad
{% endblock %}

{% block content %}
    <h2>Certificado de Incapacidad</h2>
    <!-- Mostrar los mensajes de error o éxito -->
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <p class="message">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

    
    <form method="POST">
    {% csrf_token %}
    {{ formulario.as_p }}
    
    <!-- Botón para enviar el formulario -->
    <button type="submit">Registrar</button>
    
    </form>
    <form action="{% url 'registrar_consulta' %}" method="get">
        <button type="submit">Volver a consulta médica</button>
    </form>
{% endblock %}
