    /* Estilos generales */
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #F5F5F5;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /* Encabezado y navegación */
    header {
        display: flex;
        justify-content: space-between; /* Para distribuir los elementos */
        align-items: center;
        background-color: #011f30; /* Azul oscuro */
        color: #ffffff;
        padding: 30px 15px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative; /* Esto es para facilitar la alineación */
    }

    /* Contenedor de navegación */
    nav {
        display: flex;
        flex-grow: 1;  /* Permite que el nav ocupe el espacio disponible */
        justify-content: center; /* Alinea los elementos li en el centro */
    }

    /* Lista de navegación */
    nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 30px; /* Añadir separación entre los elementos */
        list-style: none;
    }

    /* Asegura que los elementos <li> se alineen bien */
    nav ul li {
        font-weight: bold;
    }

    /* Estilo de los enlaces */
    nav ul li a {
        color: #ffffff; /* Blanco */
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    nav ul li a:hover {
        color: #A8D8B9; /* Verde menta */
        transform: scale(1.1);
    }

    /* Estilo para el botón de "Iniciar sesión" */
    .login-btn {
        background-color: #A8D8B9;  /* Verde menta */
        color: #333;  /* Gris oscuro */
        padding: 12px 30px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        font-size: 18px;
        font-weight: bold;
        transition: all 0.3s ease;
        margin-left: auto;  /* Esto lo alinea a la derecha */
    }

    .login-btn:hover {
        background-color: #6AC1B8;  /* Verde menta más intenso */
        color: #ffffff;
    }

    /* Pie de página */
    .footer {
        background: #013857; /* Azul oscuro */
        color: #ffffff;
        padding: 20px 40px;
        text-align: center;
        margin-top: auto;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }

    .footer a {
        color: #ffffff;
        text-decoration: none;
    }

    .footer a:hover {
        color: #A8D8B9; /* Verde menta */
    }

    /* Ajustes de accesibilidad */
    a:focus, a:hover {
        outline: none;
        text-decoration: underline;
    }
