body {
    margin: 0;
    padding: 0;
    background-color:floralwhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}